@import "https://fonts.googleapis.com/css2?family=Work+Sans";

* {
  margin-top: 20;
  padding: 0;
  box-sizing: 0;
}

html {
  font-size: 10px;
  font-family: "Work Sans";
}

body {
  display: inline;
  color: #fff;
  background-color: #272727;
}

header {
  font-family: "Work Sans";
  font-weight: 100;
  font-size: 300px;
}

#rbox {
  background: #ffffff;
  border-radius: 10px;
  border: 5px solid #ffffff;
  padding: 5px; 
  width: 600px;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}